.main {
  display: flex;
  flex-direction: column;
}
.card__name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Lato";
  font-family: sans-serif;
}
.card__brand {
  text-transform: uppercase;
}
.card__image {
  width: 10%;
}
.card {
  display: flex;
  margin: 5px;
  border: 2px solid black;
  box-shadow: black;
  background-color: rgb(243, 226, 226);
}
.card__order {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
