.wrap {
  display: flex;
  background-color: white;
  border: 1px solid black;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-right: 170px;
}
.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
}
