.filter {
  position: relative;
}
.filter__popup {
  position: absolute;
  right: 0;
  margin-top: 15px;
  background: white;
  box-shadow: 0px 5px 15px violet;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px 0px;
  width: 160px;
}
.filter__label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-family: "Lato";
  font-family: sans-serif;
}
.active {
  color: brown;
  background-color: chartreuse;
}
.filter__icon {
  width: 25px;
  height: 25px;
  background: url(../../assets/images/nav/filter.svg) no-repeat center center;
  background-size: contain;
}
