.catalog {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container {
  width: 280px;
  background-color: #19222a;
  font-weight: 400;
  font-family: "Lato";
  font-family: sans-serif;
}
.catalog__item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: white;
  text-decoration: none;
}
.catalog__item:active {
  color: blueviolet;
}
.catalog__item:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
.catalog__arrow {
  width: 10px;
  background: url(../../assets/images/nav/white_arrow.svg) no-repeat center center;
  background-size: contain;
}
