.input__control {
  width: 60px;
  height: 24px;
  margin: 0 5px;
  background: none;
  border: none;
  cursor: pointer;
  transition: 1s;
}
/* .header__control:hover {
  transform: scale(1.2);
}

.header__search_btn {
  background: url(../../assets/images/nav/search.svg) no-repeat center center;
  background-size: contain;
} */

.header__control {
  width: 24px;
  height: 24px;
  margin: 0 5px;
  background: none;
  border: none;
  cursor: pointer;
  transition: 1s;
}
.header__control:hover {
  transform: scale(1.2);
}

.header__search_btn {
  background: url(../../assets/images/nav/search.svg) no-repeat center center;
  background-size: contain;
}
